<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome To Parttime</p>
  <a href="/users">ユーザ管理</a>
  <% if (locals.user){ %>
  <form method="POST" action="/logout">
    <input type="submit" button value="ログアウト" />
  </form>
  <% } %>
</body>

</html>