<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <div class="login-header-img">
      <img src="/images/building_logo.svg">
    </div>
    <!-- メッセージ -->
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes">
          <div class="flash error"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <form action="/login" method="post">
      <div class="form-area">
        <div>
          <input class="form-item-style" type="text" name="username" placeholder="ID" autofocus />
        </div>
        <div>
          <input class="form-item-style" type="password" name="password" placeholder="パスワード" />
        </div>
        <div>
          <input class="btn-link" type="submit" value="ログイン" />
        </div>
        </div>
    </form>
  </div>
</body>

</html>